.entry-option{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;

}
.entry-option label{
    font-size: 12px;
    font-weight: bold;
    padding-right: 5px;
}
.entry-option p{
    margin: 0;
    color: blue;
    font-size: 9px;
}
 
input{
    border: 2px solid lightgray;
}

input:focus{
    outline-color:rgb(130, 129, 129); 

}

@media screen and (max-width:780px) {
    .entry-option {
        padding-left: 0;
        align-items: stretch;
    }
    .entry-option label{
        font-size: 10px;
        padding-right: 2px;
    }
}